body {
  background-color: #282c34;
}

.App {
	color: white;
	align-items: center;
	justify-content: center;
	display:flex;
	flex-direction: column;
}

.tableElements  {
	border-collapse: collapse;
}

.tableElements, th, td {
	border: 1px solid white;
}
